<div class="box col3">
  <div class="panel panel-default fav" id="box-<%= chat.first.hashtag.id %>">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= link_to "#"+chat.first.hashtag.tag, hashtag_path(chat.first.hashtag.tag) %>
      </h2>
    </div>

    <% chat.each do |message| %>
      <div class="panel-body fav">
        <div class="favourites_chat_box">
          <div class="message">
            <p>
              <%= link_to message.user.name, message.user, class: 'user' %>
              <%= message.formatted_content %><br>
              <span class="timestamp"><%= message.timestamp %></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>