<div class="box col3">
  <div class="panel panel-default fav" id="box-<%= chat[:tag].id %>">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= link_to '#' + chat[:tag].tag, hashtag_path(chat[:tag].tag) %>
      </h2>
    </div>

    <% chat[:messages].each do |message| %>
      <div class="panel-body fav">
        <div class="favourites-chat-box">
          <a href="<%= user_path(message.user) %>" class="avatar-link">
            <%= image_tag message.user.profile_picture_url, class: "img-circle" %>
          </a>

          <div class="message">
            <h5>
              <%= link_to message.user.name, message.user %>at
              <%= link_to '#' + message.hashtag.tag, hashtag_path(message.hashtag.tag) %>
              <br/>

              <span class="timestamp"><%= message.timestamp %></span>
            </h5>
            <p><%= message.formatted_content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

