<input id="user-id" type="hidden" value="<%= current_user.id %>"/>

<div id="feed">
  <% @messages.each do |message| %>
  	<div class="feed_chat_box">
  		<a href="<%= user_path(message.user) %>">
  			<div class="thumbnail"></div>
  		</a>
  		<div class="message">
		    <h5>
		    	<%= link_to message.user.name, message.user %>at
          <%= link_to '#' + message.hashtag.tag, message.hashtag %>
		    	
		    	<span class="timestamp"><%= message.timestamp %></span> 
		    </h5>
		    <p><%= message.content %></p>
	    </div>
    </div>
  <% end %>
</div>
