<% unless @user_tags.empty? %>
  <div class="interest-card mdl-card mdl-shadow--2dp mdl-color--white">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" id="feed-onboard-interest">
        Channels
      </h2>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" id="new-interest-revealer">
        <i class="material-icons">add</i>
      </button>
    </div>

    <%= form_tag(hashtags_path, method: 'post') do %>
      <div class="create" style="display: none;">
        <div class="mdl-textfield mdl-js-textfield">
          <%= text_field_tag :search, '',
            class: "mdl-textfield__input typeahead-add mdl-grey-placeholder",
            id: 'search', style: 'background-color: inherit !important;',
            name:"tag", placeholder: 'Add a new group' %>
        </div>
        <div style="width: 0; height: 0; overflow: hidden;">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class="interest-list">
      <% @user_tags.each do |tag| %>
        <div class="interest-list-item">
          <div class="interest-list-star">
            <%= link_to({controller: "user_hashtags", action: "update", id: tag.id}, method: :put, class: "send-hover like-this") do %>
              <i class="material-icons md-18 like-icon like-icon-color <%= 'like-icon-liked' if tag.favourite? %>">
                <%= tag.favourite? ? 'star' : 'star_border' %>
              </i>
            <% end %>
          </div>
          <div class="interest-list-hashtag">
            <p>
              <a href="<%= hashtag_path(tag.hashtag.tag) %>" id="<%= tag.hashtag.id %>">
                <span class="mdl-badge" data-badge="<%= tag.unread_messages.to_s %>">
                  <%= '#' + tag.hashtag.tag %>
                </span>
              </a>
            </p>
          </div>
          <% if !tag.hashtag.topic.nil? %>
            <div class="small-fallback"><span><%= tag.hashtag.topic %></span></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="feed-onboard-hot">
  <div id="tag_cloud" style="width: 100% !important; height: 350px;"></div>
  <script type="text/javascript">
    var word_array = <%= raw @word_array.to_json %>
  </script>
</div>
