<% backurl = '#favourites' %>

<div class="col-md-3 col-lg-2 hashtaglist-position">
  <% unless @user_tags.empty? %>
    <h3 id="feed-onboard-interest">Interests <a href="#" class="glyphicon glyphicon-plus" id="new-interest-revealer" style="font-size: 75%; text-decoration: none;"></a></h3>

    <%= form_tag(hashtags_path, method: "post") do %>
      <div class="create" style="display: none; padding-bottom: 12px;" class="form-group">
        <input class="form-control typeahead-add" type="text" name="tag" placeholder="Add new interest"/>

        <div style="width: 0; height: 0; overflow: hidden;">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <table class="table table-hover table-condensed">
      <% @user_tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to '#'+ truncate(tag.hashtag.tag, length: 15), hashtag_path(tag.hashtag.tag), id: tag.hashtag.id %>
              <% if !tag.unread_messages.nil? && tag.unread_messages > 0 %>
                <span class="text-primary small"><%= ' ('+ tag.unread_messages.to_s + ')' %></span>
              <% end %>
              <%= link_to '', {controller: "user_hashtags", action: "update", id: tag.id, backurl: backurl}, method: :put, class: "glyphicon glyphicon-star#{'-empty' unless tag.favourite?} star" %>
            </td>
          </tr>
      <% end %>
    </table>
  <% end %>

  <div id="feed-onboard-hot">
  <div id="tag_cloud" style="width: 100% !important; height: 350px;"></div>
  <script type="text/javascript">
    var word_array = <%= raw @word_array.to_json %>
  </script>
  </div>
</div>
