<script type="text/javascript">
  var tab = <%= @tab %>
</script>

<div class="container">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect col-md-9 col-lg-10">
    <div class="mdl-tabs__tab-bar">
        <a href="#favourites" class="mdl-tabs__tab">Favourites</a>
        <a href="#feed" class="mdl-tabs__tab">Feed</a>
        <a href="#limputtaja" class="mdl-tabs__tab">Limputuskisa</a>
    </div>
    <div class="mdl-tabs__panel mdl-color--white is-active" id="favourites">
      <%= render 'favourites' %>
    </div>
    <div class="mdl-tabs__panel mdl-color--white mdl-shadow--2dp" id="feed">
      <%= render 'feed' %>
    </div>
    <div class="mdl-tabs__panel mdl-color--white mdl-shadow--2dp" id="limputtaja">
      <%= render 'limputtaja' %>
    </div>
  </div>
  <%= render 'hashtaglist' %>
</div>
