<div class="container">
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix container col-xs-12 col-sm-9">
    <%if not @chats.any?%>
        <p class="lead">
          Your feed is empty. Follow some hashtags to see something here!
        </p>
    <% else %>
      <% @chats.each do |chat| %>
      <% if not chat.empty? %>
        <div class="box col4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><%= link_to "#"+chat.first.hashtag.tag, chat.first.hashtag %></h2>
            </div>

            <% chat.each do |message| %>
              <div class="panel-body">
                <span class="chat-timestamp"><%= message.timestamp %></span>
                <span class="chat-name"><%= message.user.name %></span>:
                <%= truncate(split_str(message.content), length: 200) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
    
    <%= render 'hashtaglist', user: current_user %>

</div>