<script type="text/javascript">
  var tab = <%= @tab %>
</script>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
    <section class="mdl-layout__tab-panel is-active" id="favourites">
      <div class="page-content"><%= render 'favourites' %></div>
    </section>
    <section class="mdl-layout__tab-panel fav mdl-shadow--2dp mdl-color--white" id="feed">
      <div class="page-content"><%= render 'feed' %></div>
    </section>
    <section class="mdl-layout__tab-panel fav mdl-shadow--2dp mdl-color--white" id="limputtaja">
      <div class="page-content"><%= render 'limputtaja' %></div>
    </section>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet hashtaglist-position">
    <%= render 'hashtaglist' %>
  </div>
</div>
