<script type="text/javascript">
  var tab = <%= @tab %>
</script>

<div class="container">
  <div class="col-md-9 col-lg-10">
    <section class="mdl-layout__tab-panel is-active" id="favourites">
      <div class="page-content"><%= render 'favourites' %></div>
    </section>
    <section class="mdl-layout__tab-panel fav mdl-color--white mdl-shadow--2dp" id="feed">
      <div class="page-content"><%= render 'feed' %></div>
    </section>
    <section class="mdl-layout__tab-panel fav mdl-color--white mdl-shadow--2dp" id="limputtaja">
      <div class="page-content"><%= render 'limputtaja' %></div>
    </section>
  </div>
  <div class="col-md-3 col-lg-2 hashtaglist-position">
    <%= render 'hashtaglist' %>
  </div>
</div>
