<div class="container">
  <div class="col-xs-12 col-sm-8">
    <% unless @users.blank? %>
      <div id="users">
        <h1>Search results for users: <%= @search %></h1>

        <% @users.each do |user| %>
          <%= render 'result_user', user: user %>
        <% end %>
      </div>
    <% end %>

    <% unless @hashtags.blank? %>
      <div id="hashtags">
        <h1>Search results for channels: #<%= @search %></h1>

        <% @hashtags.each do |hashtag| %>
          <%= render 'result_hashtag', hashtag: hashtag %>
        <% end %>

        <% @hashtags_topic_match.each do |hashtag| %>
          <%= render 'result_hashtag', hashtag: hashtag %>
        <% end %>
      </div>
    <% end %>

    <% if @hashtags_exact.blank? and @hashtag.valid? %>
      <div id="new_hashtag">
        <h1>How about a new channel?</h1>
        <div class="result-supporting-text">
          Create new channel:
          <%= link_to truncate("##{@search}", length: 30), hashtags_path(tag: @search), method: :post %>
        </div>
      </div>
    <% end %>

    <% if @users.blank? and @hashtags.blank? and not @hashtag.valid? %>
      <div>
        <h1>No results for: <%= @search %></h1>
      </div>
    <% end %>
  </div>
</div>