<div id="<%= notification.id %>" class="box col-xs-12 alert alert-success alert-dismissible type3 <%= "notification-seen" if not notification.visible %>" role="alert">
  <div class="notification-title">
  	<%= link_to notification.tricker_user.name, notification.tricker_user, class: 'alert-link' %>
  	mentioned you at
    <% if notification.tricker_hashtag != nil %>
      <%= link_to '#'+notification.tricker_hashtag.tag, hashtag_path(notification.tricker_hashtag.tag), class: 'alert-link' %>
    <% else %>
      <i>deleted channel</i>
    <% end %>
    <span class="timestamp"><%= notification.timestamp %></span>
  </div>
  <div class="notification-actions">
    <% unless notification.message.nil? or notification.tricker_hashtag.nil? %>
      <%= link_to 'See message', hashtag_path(notification.tricker_hashtag.tag) + "##{notification.message.id}", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
