<div class="container">
  <div class="col-sm-4 well">
    <div class="profileCrop" style="background-image: url('<%= @user.profile_picture_url %>');"></div>

    <table class="table table-hover">
      <% @user.photos.each do |pic| %>
          <%= link_to image_tag(pic.image.url(:small)), photo_path(:id=>pic.id)%>
      <% end %>
    </table>

    <%= link_to "Add photos" , '#', class: 'lead btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.lead').toggleClass('hidden');" %>

    <div id="target" class="hidden">
      <%= render "photo_form" %>
    </div>
  </div>

  <div class="col-sm-5">
    <%= form_for @user, html: { :multipart => true } do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited changes from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <h2><%= @user.name %></h2>

          <%= f.text_field :name, class: "form-control" if !Rails.env.production?%>

        </div>
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="option_class">
          <%= f.label :campus %><br>
          <%= f.select :campus, options_for_select(@campuses, f.object.campus), { include_blank: true } %>
        </div>
        <div class="field">
          <%= f.label :unit %><br>
          <%= f.text_field :unit, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :about %><br>
          <%= f.text_area :about, size: "60x8", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.button :Update, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>

</div> <!-- /container -->