<%= form_tag({controller: "photos", action: "create"}, method: "post", multipart: true) do %>
    <div class="field element-position">
      <%= label_tag :image_text, "Photo title" %>
      <%= text_field_tag :image_text %>
    </div>
    <div class="field element-position">
      <%= file_field_tag :image %>
    </div>
    <div class="actions element-position">
      <%= submit_tag("Add photo", :class=>"btn btn-primary") %>
    </div>
<% end %>
