<%= form_tag({controller: "photos", action: "create"}, method: "post", multipart: true) do %>

    <%= hidden_field_tag :user_id, value: current_user.id %>
    <div class="field">
      <%= label_tag :photo_text, "Image title" %><br>
      <%= text_field_tag :photo_text %>
    </div>
    <div class="field">
      <%= label_tag :photo %><br>
      <%= file_field_tag :photo %>
    </div>
    <div class="actions">
      <%= submit_tag("Add photo", :class=>"btn btn-primary") %>
    </div>
<% end %>
