<div class="col-sm-4 well">
  <div class="profileCrop img-rounded" style="background-image: url('<%= @user.profile_picture_url(:medium) %>');"></div>
  <p><%= @photo_text %></p>

  <% if @user.photos.count > 1 %>
    <div>
      <% @user.photos.each do |pic| %>
          <%= link_to image_tag(pic.image.url(:small), class: "img-rounded"), pic, data: {toggle: "modal", target: "#image_" + pic.id.to_s} %>
          <%= render "img_modal", pic: pic %>
      <% end %>
    </div>

    <br/>
  <% end %>

  <% if @user == current_user %>
    <%= link_to "Add photo", '#', class: 'lead btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.lead').toggleClass('hidden');" %>

    <div id="target" class="hidden">
      <%= form_tag({controller: "photos", action: "create"}, method: "post", multipart: true) do %>
        <div class="field element-position">
          <%= label_tag :image_text, "Photo title" %>
          <%= text_field_tag :image_text %>
        </div>
        <div class="field element-position">
          <%= file_field_tag :image %>
        </div>
        <div class="actions element-position">
          <%= submit_tag("Add photo", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  <% elsif action == 'new' %>
    <div class="field element-position">
      <%= label_tag :image_text, "Photo title" %>
      <%= text_field_tag :image_text %>
    </div>
    <div class="field element-position">
      <%= file_field_tag :image %>
    </div>
  <% end %>
</div>

