<div class="container">
  <%= render "users/profile_well", action: 'show' %>
  <div class="col-sm-5 col-lg-6">
    <div class="well">
      <h1 class="user-position">
        <%= @user.name %>
        <% if @user == current_user %>
          <%= link_to "edit", edit_user_path(current_user), method: :get, class: "material-icons" %>
        <% end %>
      </h1>
      <p><%= @user.email %></p>
      <p><%= @user.campus %></p>

    <div class="aboutme">
      <% unless @user.about.blank? %>
        <h1>About me</h1>
        <p><%= simple_format(auto_link(ERB::Util.html_escape(@user.about), html: { target: '_blank' })) %></p>
      <% end %>
    </div>
    </div>
    <%= render 'hashtag_manager' if @user == current_user %>

  </div>

  <%= render "hashtaglist", user: @user %>
</div> <!-- /container -->
