<div class="container">
  <%= render "users/profile_well", action: 'show' %>
  <div class="col-sm-5 col-lg-6">
    <% if @user == current_user %>
      <%= link_to "Update info", edit_user_path(current_user), method: :get, class: "btn btn-default" %>
    <% end %>

    <div class="userinfo">
      <h1><%= @user.name %></h1>
      <p><%= @user.title %></p>
      <p><%= @user.email %></p>
      <p><%= @user.campus %><%= ", " + @user.unit unless @user.unit.blank? %></p>
    </div>

    <div class="aboutme">
      <% unless @user.about.blank? %>
        <h1>About me</h1>
        <p><%= @user.about %></p>
      <% end %>
    </div>
  </div>

  <%= render "hashtaglist", user: @user %>
</div> <!-- /container -->