<div class="container">

  <div class="col-sm-4 well">
    <div class="profileCrop img-rounded" style="background-image: url('<%= @user_photo %>');"></div>
    <p><%= @photo_text %></p>

    <div>
      <% @user.photos.each do |pic| %>
          <%= link_to image_tag(pic.image.url(:small), class: "img-rounded"), photo_path(:id=>pic.id) %>
      <% end %>
    </div>

    <%= link_to "Add photos" , '#', class: 'lead btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.lead').toggleClass('hidden');" %>

    <div id="target" class="hidden">
      <%= render "photo_form" %>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="userinfo">
      <h1><%= @user.name %></h1>
      <p><%= @user.title %></p>
      <p><%= @user.email %></p>
      <p><%= @user.campus %><%= ", " + @user.unit unless @user.unit.blank? %></p>
    </div>

    <div class="aboutme">
      <% unless @user.about.blank? %>
          <h1>About me</h1>
          <p><%= @user.about %></p>
      <% end %>
    </div>
  </div>

  <%= render "hashtaglist", user: @user %>
</div> <!-- /container -->

