<div class="container">	
	<div class= "col-xs-12 col-sm-4" >
		<div class="profileCrop well" style="background-image: url('<%= @user.profilePicture %>')"></div>
	</div>

	<div class= "col-xs-12 col-sm-4">
		<div class="userinfo">
			<h1><%= @user.name %></h1>
			<p><%=  @user.title %></p>
			<p><%=  @user.email %></p>
			<p><%=  @user.campus %>, <%=  @user.unit %></p>
		</div>
		<div class="aboutme">
			<% if not @user.about.nil? and not @user.about.empty? %>
			    <h1>About me</h1>
			    <p><%= @user.about %></p>
	  		<% end %>
		</div>
	</div>
	<div class= "col-xs-12 col-sm-4">
		<%= render "feed/hashtaglist", user: @user %>
	</div>
</div> <!-- /container -->	