
<div class="col-lg-9">

	<div class="col-lg-4">
	 	<div class="well">
			<div class="profileCrop" style="background-image: url('<%= @user.profilePicture %>')"></div>
		</div>	
	</div>	

	<div class="col-lg-3">
	

		<h1><%= @user.username %></h1>
		<p><%=  @user.email %></p>
		<p><%=  @user.campus %>, <%=  @user.unit %></p>
	</div>
	<div class="col-lg-8">	
		<h1>About me</h1>
		<p><%= @user.about %></p>
	</div>
</div>
<div class="col-lg-3">
  	<div class="well sidebar-nav">
    	<h3>Hashtags</h3>
    	<ul class="nav nav-list">
      		<!--<li class="nav-header">Sidebar</li>-->
			<% @user.hashtags.each do |tag| %>
				<li><%= link_to "#"+tag.tag, "#" %></li>
			<% end %>
    	</ul>
  	</div><!--/.well -->
</div><!--/span-->

