
<% if @user_has_tag %>
    <div class="panel panel-default panel-chat">
      <div class="toolbar pull-right">
        <%= render 'channel_buttons' %>
      </div>
      <div class="chatbox interest-chatbox">
        <% @messages.each do |message| %>
            <div class="panel-body">
              <a href="<%= user_path(message.user) %>", class="avatar-link">
                <%= image_tag message.user.profile_picture_url, class: "img-circle" %>
              </a>

              <div class="message">
                <h5>
                  <%= link_to message.user.name, message.user %>
                  <span class="timestamp"><%= message.timestamp %></span>
                </h5>
                <%= message.formatted_content %><br>
              </div>
            </div>
        <% end %>
      </div>

      <%= javascript_tag do %>
        var userdata = <%= raw @hashtag.users.to_json(only: [:name, :username]) %>;
        var hashtagdata = <%= raw Hashtag.all.map(&:tag).to_json %>
      <% end %>




        <form>
            <div class="panel-footer input-group input-chat">
          <input id="input-text" type="text" class="form-control mentions" placeholder="Write a message..." autocomplete="off"/>

          <input id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
          <input id="user-id" type="hidden" value="<%= current_user.id %>"/>

          <span class="input-group-btn">
            <%= submit_tag('Send', class: 'btn btn-default btn-borderless', id: 'chat-send') %>
          </span>
            </div>
        </form>

    </div>
<% end %>
