<% if @user_has_tag %>
  <div class="panel panel-default chatbox">
    <% @messages.each do |message| %>
      <div class="panel-body">
        <div class="interest_chat_box">
          <a href="<%= user_path(message.user) %>">
            <div class="thumbnail"></div>
          </a>
          <div class="message">
            <h5>
              <%= link_to message.user.name, message.user %>
                            
              <span class="timestamp"><%= message.timestamp %></span> 
            </h5>
            <%= message.scontent %><br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <form>
    <div class="input-group">
      <input id="input-text" type="text" class="form-control" placeholder="" />

      <input id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
      <input id="user-id" type="hidden" value="<%= current_user.id %>"/>

      <span class="input-group-btn">
        <button class="btn btn-primary" id="chat-send">Send</button>
      </span>
    </div>
  </form>
<% end %>
