<div class="mdl-card mdl-shadow--4dp" style="width: 100% !important; height: 70vh !important;">
  <div class="mdl-cell--hide-desktop toolbar pull-right">
    <%= render 'channel_buttons' %>
  </div>
  <div class="mdl-card__supporting-text chatbox-outer">
    <div class="chatbox interest-chatbox">
      <div class="loader mdl-button mdl-js-button mdl-js-ripple-effect" id="loader" style="display: none;">
        Load more
      </div>
    </div>
    <div class="center_spinner">
      <div class="mdl-spinner mdl-js-spinner is-active"></div>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border added-image-area">
  </div>
  <div class="mdl-card__actions chat-form">
    <form action="#" enctype="multipart/form-data">
      <%= link_to '', class:"mdl-button mdl-js-button mdl-button--icon add-photo-modal__open" do %>
        <i class="material-icons icon-color">insert_photo</i>
      <% end %>
      <div class="mdl-textfield mdl-js-textfield chat-form-input">
        <input  class="mdl-textfield__input" type="text" id="input-text" autocomplete="off" pattern=".{0,255}" maxlength="256" />
        <label class="mdl-textfield__label" for="input-text">Write a message...</label>
        <span class="mdl-textfield__error">Message has to be less than 256 characters</span>
      </div>
      <input id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
      <input id="last-visit" type="hidden" value="<%= current_user.last_visit(@hashtag) %>"/>

      <div class="chat-form-send">
        <%= button_tag(type: 'submit', class: 'btn-borderless', id: 'chat-send') do %>
          <i class="material-icons md-24 icon-color send-hover">send</i>
        <% end %>
      </div>
    </form>
  </div>
</div>
