<% if @user_has_tag %>
  <span class="btn-group">
    <div class="dropdown">
      <%= link_to 'group', '#', class: 'material-icons md-36 dropdown-toggle icon-color', 'data-toggle':'dropdown' %>
      <ul class="dropdown-menu dropdown-menu-right scrollable nav-list">
        <li class="dropdown-header">Members</li>
        <% @hashtag.users.each do |m| %>
          <li class='member-<%= m.id %>'><%= link_to m.name, m %></li>
        <% end %>
      </ul>
    </div>
  </span>
  <span class="btn-group">
    <div class="dropdown">
      <%= link_to 'more_vert', '#', class: 'material-icons md-36 dropdown-toggle icon-color', 'data-toggle':'dropdown' %>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= link_to 'Leave channel', leave_path(tag: @hashtag.tag), method: :delete, 'data-confirm': '', 'data-confirm-title': 'Leave Channel', class: 'leave-button' %>
        </li>
        <li>
          <%= link_to 'Invite', '#', class: 'invite-modal__open' %>
        </li>
        <li>
          <%= link_to 'Edit' , '#', class: 'edit-modal__open' %>
        </li>
      </ul>
    </div>
  </span>
<% else %>
  <%= link_to 'Join', join_path(tag: @hashtag.tag), method: :post, class: 'btn btn-success' %>
<% end %>
