<div class="panel panel-default panel-chat">
  <div class="visible-xs toolbar pull-right">
    <%= render 'channel_buttons' %>
  </div>
  <%= javascript_tag do %>
    var userdata = <%= raw @hashtag.users.to_json(only: [:name, :username]) %>;
    var hashtagdata = <%= raw Hashtag.all.map(&:tag).to_json %>;
  <% end %>

  <div class="chatbox interest-chatbox">
    <% if @lastvisit_index > 0 %>
      <%= render "messages", messages: @messages.to(@lastvisit_index - 1), bg: false %>
    <% end %>
    <% if @lastvisit_index < 19 %>
      <%= render "messages", messages: @messages.from(@lastvisit_index), bg: true  %>
    <% end %>
  </div>

  <form>
    <div class="panel-footer input-group input-chat">
      <input  autocomplete="off" class="form-control mentions" id="input-text" placeholder="Write a message..." type="text"/>

      <input  id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
      <input  id="user-id" type="hidden" value="<%= current_user.id %>"/>

      <span class="input-group-btn">
        <%= button_tag(type:'submit', class: 'btn btn-default btn-borderless', id: 'chat-send') do %>
          <i class="material-icons md-30 icon-color send-hover">send</i>
        <% end %>
      </span>
    </div>
  </form>
</div>
<%= render 'invite' %>
<%= render 'edit' %>
