<div class="modal fade" id="edit" role="dialog" aria-labelledby="edit" aria-hidden="true" style="z-index: 10000 !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mdl-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit channel</h4>
      </div>
      <%= form_for @hashtag, html: { multipart: true }, url: { tag: @hashtag.tag } do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label(:topic, "Channel description")%>
            <%= f.text_area :topic, value: @hashtag.topic, class: 'form-control input-large', id: 'topic' %>
            <%= f.label(:cover_photo, "Background image")%>
            <%= f.file_field :cover_photo, id: 'cover_photo' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit value: "Update", class: 'mdl-button mdl-button--raised' %>
        <% end %>
        <button type="button" class="mdl-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
