<div class="bottom-sheet-overlay edit-card">
  <div class="bottom-sheet-card mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text mdl-color-text--white">Edit channel</h2>
    </div>
    <div class="mdl-card__supporting-text" style="width: 100%;">
      <%= form_for @hashtag, url: { tag: @hashtag.tag } do |f| %>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <%= f.text_area :topic, id: 'topic', class: 'mdl-textfield__input', value: @hashtag.topic, rows: 3 %>
          <label class="mdl-textfield__label" for="topic">Channel description</label>
        </div>
        <div class="thumb-container">
          <h4>Background photo</h4>
          <div class="coverphoto-thumb hashtag-color--<%= @hashtag.color %>"
            style="<%= @hashtag.photo.nil? ? '' : 'background: url(' + @hashtag.photo.image.url(:medium) + ') no-repeat center center' %>">
          </div>
        </div>
        <div class="pull-right">
          <%= f.hidden_field :photo_id, value: @hashtag.photo.nil? ? '' : @hashtag.photo.id, id: 'cover_photo' %>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect change-cover-modal__open">
              New background image
            </button>
          <%= f.submit value: 'Update', class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised' %>
        </div>
      <% end %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect edit-modal__close">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
</div>
