<div class="well grouplist-position ">
  <% if @user_has_tag %>
    <span class="btn-group">
      <%= link_to 'Leave channel', leave_path(tag: @hashtag.tag), method: :delete, 'data-confirm': '', 'data-confirm-title': 'Leave Channel', class: 'btn btn-danger leave-button'%>
    </span>
    <span class="btn-group">
      <%= link_to 'Invite', '#', class: 'btn btn-default', "data-toggle":'modal', "data-target":'#invite' %>
    </span>
    <span class="btn-group">
      <%= link_to 'Edit Channel' , '#', class: 'btn btn-default', "data-toggle":'modal', "data-target":'#edit' %>
    </span>
  <% else %>
    <%= link_to 'Join', join_path(tag: @hashtag.tag), method: :post, class: 'btn btn-success' %>
  <% end %>
  <h3>Members</h3>
  <ul class="nav nav-list scrollable">
    <% @hashtag.users.each do |m| %>
        <li class='member-<%= m.id %>'><%= link_to m.name, m %></li>
    <% end %>
  </ul>
</div>
