<div class="grouplist-card mdl-card mdl-shadow--2dp" style="height: 70vh !important;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Members</h2>
  </div>
  <div class="mdl-card__supporting-text asd" style="width: 100% !important; margin: 0 !important; padding 0 !important;">
    <ul class="nav nav-list scrollable">
      <% @hashtag.users.each do |m| %>
        <li class='member-<%= m.id %>'><%= link_to m.name, m %></li>
      <% end %>
    </ul>
  </div>
  <div class="mdl-card__actions mdl-card--border" style="height: 48px !important;">
    <% if @user_has_tag %>
      <%= link_to 'Leave', leave_path(tag: @hashtag.tag), method: :delete, 'data-confirm': '', 'data-confirm-title': 'Leave Channel', class: 'mdl-button mdl-js-button mdl-js-ripple-effect leave-button' %>
      <%= link_to 'Invite', '#', class: 'mdl-button mdl-js-button mdl-js-ripple-effect invite-modal__open' %>
      <%= link_to 'Edit' , '#', class: 'mdl-button mdl-js-button mdl-js-ripple-effect edit-modal__open' %>
    <% else %>
      <%= link_to 'Join', join_path(tag: @hashtag.tag), method: :post, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
