<div class="well">
  <% if @user_has_tag %>
    <%= link_to 'Leave', leave_path(id: @hashtag), method: :delete, class: 'btn btn-danger', "data-confirm": 'Are you sure you want to leave this channel?', "data-confirm-title": 'Leave Channel' %>
  <% else %>
    <%= link_to 'Join', join_path(id: @hashtag), method: :post, class: 'btn btn-success' %> 
  <% end %>

  <% if @user_has_tag %>
    <%= link_to @topic_button_text , '#target', class: 'edit btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.edit').toggleClass('hidden');" %>
    <%= link_to 'Cancel' , '#target', class: 'hidden edit btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.edit').toggleClass('hidden');" %>

    <div id="target" class="hidden" style="padding-top: 5px">
      <%= form_for @hashtag, html: { multipart: true } do |f| %>
        <div class="form-group">
          <%= f.text_area :topic, value: @hashtag.topic, class: 'form-control input-large', id: 'topic' %>
          <%= f.file_field :cover_photo, label: 'Upload cover photo:', id: 'cover_photo' %>
        </div>

        <%= f.submit value: "Update", class: 'btn btn-sm btn-primary' %>
      <% end %>
    </div>
  <% end %>

  <h3>Members</h3>
  <ul class="nav nav-list">
    <% @hashtag.users.each do |m| %>
        <li id='<%= m.id %>'><%= link_to m.name, m %></li>
    <% end %>
  </ul>

  <% if @user_has_tag %>
    <%= form_tag({controller: 'hashtags', action: 'invite'}, method: 'post', "data-toggle": "tooltip", "data-placement": "top", title: "Invite people to the channel. Start typing, choose a right person and press enter.", id: 'invite-form') do %>
      <%= text_field_tag :user, params[:user], placeholder: 'Invite', class: 'form-control typeahead-invite' %>

      <div style="width: 0; height: 0; overflow: hidden;" >
        <%= submit_tag('Invite', class: 'btn btn-primary') %>
      </div>
    <% end %>
  <% end %>
</div>