<div class="well sidebar-nav">
  <% if @user_has_tag %>
    <%= link_to 'Leave', leave_path(id: @hashtag), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Join', join_path(id: @hashtag), method: :post, class: 'btn btn-success' %> 
  <% end %>

  <% if @user_has_tag %>
    <%= link_to @topic_button_text , '#', class: 'lead btn btn-default', onclick: "$('#target').toggleClass('hidden'); $('.lead').toggleClass('hidden');" %>
  <% end %>

  <h3>Members</h3>
  <ul class="nav nav-list">
    <% @hashtag.users.each do |m| %>
        <li id='<%= m.id %>'><%= link_to m.name, m %></li>
    <% end %>
  </ul>

  <% if @user_has_tag %>
    <%= form_tag({controller: 'hashtags', action: 'invite'}, method: 'post') do %>
      <%= text_field_tag :user, params[:user], placeholder: 'Invite', class: 'form-control typeahead-invite' %>
      
      <div style="width: 0; height: 0; overflow: hidden;">
        <%= submit_tag('Invite', class: 'btn btn-primary') %>
      </div>
    <% end %>
  <% end %>
</div>