<% if bg %>
  <div class='line text-center'>
    <span>Since<span class="timestamp"><%= @lastvisit_date %></span></span>
  </div>
<% end %>

<% messages.each do |message| %>
  <div class="panel-body <%= "unread_messages" if bg %>" id="<%= message.id %>">
    <a class="avatar-link" href="<%= user_path(message.user) %>">
      <%= image_tag message.user.profile_picture_url, class: "img-circle" %>
    </a>
    <div class="message">
      <div class="col-xs-11 pull-left">
        <h5>
          <%= link_to message.user.name, message.user %>
          <span class="timestamp"><%= message.timestamp %></span>
        </h5>
        <%= message.formatted_content %><br>
      </div>
      <div class="col-xs-1">
        <a href="#" id="<%= message.id %>" class="send-hover like-this">
          <i class="material-icons md-10 icon-color ">thumb_up</i>
          <span class="badge like-badge"><%= message.likes.count %></span>
        </a>
      </div>
    </div>
  </div>
<% end %>
