<% if bg %>
  <div class='line text-center'>
    <span>Since<span class="timestamp"><%= @lastvisit_date %></span></span>
  </div>
<% end %>

<% messages.each do |message| %>
  <div class="panel-body <%= "unread_messages" if bg %>" id="<%= message.id %>">
    <a class="avatar-link" href="<%= user_path(message.user) %>">
      <%= image_tag message.user.profile_picture_url, class: "img-circle" %>
    </a>
    <div class="message">
      <div class="col-xs-11 pull-left">
        <h5>
          <%= link_to message.user.name, message.user %>
          <span class="timestamp"><%= message.timestamp %></span>
        </h5>
        <%= message.formatted_content %>
        <span class="space-left">
        <a href="#" id="like-<%= message.id %>" class="send-hover like-this">
            <i class="material-icons md-18 icon-color"><%= (current_user.likes? message) ? 'thumb_down' : 'thumb_up' %></i>
          <span class="like-badge">
            <%= message.likes.count %>
          </span>
          </a>
            </span>
      </div>
    </div>
  </div>
<% end %>
