<div class="jumbotron" style="background-image: url('<%= @hashtag.photo.image.url() if @hashtag.photo != nil %>'); padding-top: 0;">
  <div class="container text-center">
    <h1>#<%= @hashtag.tag %></h1>

    <p>
      <% unless @hashtag.topic.nil? && @hashtag.topic.blank? %>
        <%= auto_link(ERB::Util.html_escape(@hashtag.topic), html: { target: '_blank' }) %>
          <span class="hashtag_topicker"> Updated by <b><%= @topicker.name %></b> on <span class="timestamp"><%= @hashtag.updated_at.strftime('%Y-%m-%dT%H:%M:%S') %></span></span>
      <% end %>
    </p>
  </div>
</div>
