<div class="container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <%= render 'chat' if @user_has_tag %>
    </div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop hidden-xs hidden-sm">
      <%= render 'grouplist' %>
    </div>
  </div>
</div>
<%= render 'invite' %>
<%= render 'edit' %>
<%= render './onboards/hashtag_onboard' %>
