<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <%  if @user_has_tag %>
    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet">
      <%= render 'chat' %>
    </div>
  <% end %>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone">
    <%= render 'grouplist' %>
  </div>
</div>
<%= render 'invite' %>
<%= render 'edit' %>
<%= render './onboards/hashtag_onboard' %>
