<div class="col-xs-12 col-sm-8">
  <h1>#<%= @hashtag.tag %></h1>

  <% if current_user.hashtags.exists?(@hashtag) %>   
    <%= link_to 'leave', leave_path(id: @hashtag), method: :delete %>
  <% else %>  
    <%= link_to 'join', join_path(id: @hashtag), method: :post %> 
  <% end %>


  <div id="chat-text" class="panel panel-default">
    <% @hashtag.messages.each do |message| %>
      <div class="panel-body">
        <%= message.content %>
      </div>
    <% end %>
  </div>


  <form id="input-form" class="form-inline">
    <div class="form-group">
      <input id="input-text" type="text" class="form-control" placeholder="" autofocus />
      <input id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
    </div>

    <button class="btn btn-primary" type="submit">Send</button>
  </form>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="well sidebar-nav">
    <h3>Members</h3>
    <ul class="nav nav-list">
      <% @hashtag.users.each do |m| %>
          <li><%= link_to m.name, m %></li>
      <% end %>
    </ul>
  </div>
</div>