
<div class="jumbotron">
    <h1>#<%= @hashtag.tag %></h1>

  <h3>Topic: <%= @hashtag.topic %></h3>


    <% if current_user.hashtags.exists?(@hashtag) %>
      <button class="btn btn-default" onclick="$('#target').toggleClass('hidden');">Click to edit topic!</button>
      <%= link_to 'Leave', leave_path(id: @hashtag), method: :delete, :class => "btn btn-danger" %>
    <% else %>  
      <%= link_to 'Join', join_path(id: @hashtag), method: :post, :class => "btn btn-success" %> 
    <% end %>

  <% if current_user.hashtags.exists?(@hashtag) %>
  <div id="target" class="hidden">
    <%= form_for(@hashtag) do |f| %>
        <div class="panel panel-default">
          <%= f.label :'Change topic' %><br>
          <%= f.text_area :topic, value: @hashtag.topic, size: '60x2', id: 'topic'%>
          <div class="actions">
            <%= f.submit value: "Update topic!" %>
          </div>
        </div>
    <%end%>
  </div>
<% end %>

</div>


<div class="col-xs-12 col-sm-8">
  <div id="chat-text" class="panel panel-default chatbox">
    <% @hashtag.messages.each do |message| %>
      <div class="panel-body">
        <span class="chat-name"><%= message.user.name %></span>
        <%= message.content %>
      </div>
    <% end %>
  </div>


  <form id="input-form" class="form-inline">
    <div class="form-group">
      <input id="input-text" type="text" class="form-control" placeholder="" autofocus />
      <input id="hashtag-id" type="hidden" value="<%= @hashtag.id %>"/>
      <input id="user-id" type="hidden" value="<%= current_user.id %>"/>
    </div>

    <button class="btn btn-primary" type="submit">Send</button>
  </form>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="well sidebar-nav">
    <h3>Members</h3>
    <ul class="nav nav-list">
      <% @hashtag.users.each do |m| %>
          <li><%= link_to m.name, m %></li>
      <% end %>
    </ul>
  </div>
</div>