<div class="container">
  <div class="col-sm-4">
    <!--<%= image_tag @user.avatar.url(:medium), class: "profileCrop well" %>-->
  </div>

  <div class="col-sm-5">
    <%= form_for @user, html: { :multipart => true } do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited changes from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :text %><br>
          <%= f.text_field :text, :class => "form-control" %>
        </div>
        <div class="field">
          <%= f.label :photo %><br>
          <%= f.file_field :photo %>
        </div>
        <div class="actions">
          <%= f.button :Update,  :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div> <!-- /container -->