
<%= link_to "Home", root_path, id:"feed-onboard-home",
	class:"mdl-navigation__link mdl-layout--large-screen-only"%>

<%= link_to notifications_path, class:"mdl-navigation__link notif-link feed-onboard-notif" do %>
	<i class="material-icons">notifications</i>
	<span class="notif-count">
		<% if current_user.unread_notifications? %>
			<span class="badge badge-success">
				<%= current_user.notifications.unread_count  %>
			</span>
		<% end %>
	</span>
<% end %>

<a id="menu-lower-right" class="mdl-navigation__link">
	<%= current_user.name.partition(" ").first %>
	<span class="caret"></span>
</a>

<ul class="navbar-user-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="menu-lower-right">
	<li class="mdl-menu__item"><%= link_to 'Profile' , current_user %></li>

	<% unless current_user.first_time %>
		<li class="mdl-menu__item"><%= link_to "Start tour", first_time_path('true'), method: 'POST' %></li>
	<% end %>

	<li class="mdl-menu__item"><%= link_to "Invite", "/invite" %></li>
	<li class="mdl-menu__item"><%= link_to "About", "/about" %></li>
	<li class="mdl-menu__item"><%= link_to "Logout", "/logout" %></li>
</ul>
