<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand" id="feed-onboard-header">
        <%= link_to image_tag('helsinki53x50.png', height: '32', width: '32'), root_path %>
      </div>
        <%= link_to 'UHPeople', root_path, class: 'hidden-xs hidden-sm visible-lg-block navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% unless current_user.nil? %>


      <div class="">

        <%= form_tag search_index_path, method: 'get', class: 'col-md-5 col-sm-2 col-xs-2 navbar-f', role: 'search' do %>
          <div class="form-group" style="display:inline; width: 100%;" id="feed-onboard-search" data-toggle="tooltip" data-placement="bottom" title="Start typing names of users or tags here to search. If your tag does not exist, you'll be offered to add a new one.">
            <%= text_field_tag :search, '', placeholder: "Search", class: "form-control typeahead" %>

            <div style="width: 0; height: 0; overflow: hidden;">
              <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/navigation_links' %>
        </ul>

      </div><!-- /.navbar-collapse -->

    <% end %>
  </div><!-- /.container-fluid -->
</nav>
