<div class="mdl-layout__header-row">
  <div id="feed-onboard-header">
    <%= link_to image_tag('helsinki53x50.png', height: '32', width: '32'), root_path %>
  </div>
  <div class="mdl-layout--large-screen-only">
    <%= link_to 'UHPeople', root_path, class: 'mdl-navigation__link logo-font' %>
  </div>
  <% unless current_user.nil? %>
    <% if controller_name == "hashtags" && action_name == "show" %>
      <div class="mdl-layout-spacer nav-toggleable"></div>
      <div class="nav-toggleable topic">
        <span class="mdl-typography--title">#<%= @hashtag.tag if @hashtag %></span>
      </div>
    <% end %>
    <div class="mdl-layout-spacer mdl-navbar nav-toggleable" style="display: none;">
      <%= form_tag search_index_path, method: 'get', role: 'search' do %>
        <%= text_field_tag :search, '', placeholder: 'Search', class: 'typeahead site-search', id: 'search', style: 'background-color: inherit !important;' %>
        <div style="width: 0; height: 0; overflow: hidden;">
          <%= submit_tag "Search", name: nil %>
        </div>
      <% end %>
    </div>
    <div class="mdl-layout-spacer nav-toggleable"></div>
    <nav class="mdl-navigation">
      <%= render 'layouts/navigation_links' %>
    </nav>
  <% end %>
</div>
<!-- ROW 2 -->
<% if current_page?(feed_index_path) %>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--white">
    <a href="#favourites" class="mdl-layout__tab is-active" id="feed-onboard-favourites" target="1">Favourites</a>
    <a href="#feed" class="mdl-layout__tab" id="feed-onboard-feed" target="2">Feed</a>
    <a href="#statistics" class="mdl-layout__tab" target="3">Statistics</a>
  </div>
<% end %>
<% if controller_name == "hashtags" && action_name == "show" %>
  <div class="mdl-layout__header-row mdl-hashtag-topic">
    <div class="header-topic-container mdl-cell--top" style="<%= 'display: none;' if @hashtag && (@hashtag.topic.nil? || @hashtag.topic.empty?) %>">
      <p class="mdl-typography--body-1 topic-content" style="padding: 0; margin: 0;">
        <%= auto_link(ERB::Util.html_escape(@hashtag.topic), html: { target: '_blank' }) if @hashtag %>
      </p>
      <span class="mdl-typography--caption" style="<%= 'display: hidden;' if @topicker.nil? %>">
        Updated by <b class="topic-updater"><%= @topicker.try(:name) %></b>
        <span class="timestamp" data-timestamp="<%= @hashtag.updated_at.strftime('%Y-%m-%dT%H:%M:%S') if @hashtag %>"></span>
      </span>
    </div>
    <% if @hashtag && @hashtag.topic %>
      <div class="mdl-layout-spacer"></div>
      <div class=""><%= link_to 'Show topic', '#', class: 'mdl-navigation__link topic__toggle' %></div>
    <% end %>
  </div>
<% end %>
