<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <%= link_to image_tag('helsinki53x50.png'), root_path %>
      </div>
      <%= link_to 'UHPeople', root_path, class: 'navbar-brand' %>
    </div>
    
    <% unless current_user.nil? %>
      <div class="collapse navbar-collapse">      
        <div class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <%= form_tag search_index_path, method: "get" do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control typeahead" %>
                <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

        <ul class="nav navbar-nav">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    <% end %>
  </div>
</nav>