<div class="mdl-layout__header-row">
  <div id="feed-onboard-header">
    <%= link_to image_tag('helsinki53x50.png', height: '32', width: '32'), root_path %>
  </div>
  <div class="mdl-layout--large-screen-only">
    <%= link_to 'UHPeople', root_path, class: 'mdl-navigation__link logo-font' %>
  </div>
  <div class="mdl-layout-spacer mdl-navbar nav-toggleable" style="display: none;">
    <%= form_tag search_index_path, method: 'get', role: 'search' do %>
      <%= text_field_tag :search, '', placeholder: 'Search', class: 'typeahead site-search', id: 'search', style: 'background-color: inherit !important;' %>
      <div style="width: 0; height: 0; overflow: hidden;">
        <%= submit_tag "Search", name: nil %>
      </div>
    <% end %>
  </div>
  <div class="mdl-layout-spacer nav-toggleable"></div>
  <nav class="mdl-navigation">
    <%= render 'layouts/navigation_links' %>
  </nav>
</div>
<% if current_page?(feed_index_path) %>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--cyan-600">
    <a href="#favourites" class="mdl-layout__tab is-active" id="feed-onboard-favourites" target="1">Favourites</a>
    <a href="#feed" class="mdl-layout__tab" id="feed-onboard-feed" target="2">Feed</a>
    <a href="#limputtaja" class="mdl-layout__tab" target="3">Limputuskisa</a>
  </div>
<% end %>
<% if controller_name == "hashtags" && action_name == "show"  %>
  <div class="mdl-layout__header-row mdl-hashtag-topic">
    <span>#<%= @hashtag.tag if @hashtag %>
      <% if @hashtag && !@hashtag.topic.nil? && !@hashtag.topic.blank? %>
        <span class="material-icons title-separator">chevron_right</span>
        <%= auto_link(ERB::Util.html_escape(@hashtag.topic), html: { target: '_blank' }) if @hashtag %><br>
        <span class="hashtag_topicker">
          Updated by <b><%= @topicker.name if @topicker %></b> on
          <span class="timestamp" data-timestamp="<%= @hashtag.updated_at.strftime('%Y-%m-%dT%H:%M:%S') if @hashtag %>"></span>
        </span>
      <% end %>
    </span>
  </div>
<% end %>
