<div class="mdl-layout__header-row">
  <!-- Title -->
  <div id="feed-onboard-header">
    <%= link_to image_tag('helsinki53x50.png', height: '32', width: '32'), root_path %>
  </div>
  <div class="hidden-xs visible-lg-block ">
    <%= link_to 'UHPeople', root_path, class: 'mdl-navigation__link logo-font' %>
  </div>
  <% unless current_user.nil? %>
    <%= form_tag search_index_path, method: 'get', class: 'col-md-5 col-sm-5 col-xs-9 navbar-f', role: 'search' do %>
      <div class="form-group" style="display:inline; width: 100%;" id="feed-onboard-search" data-toggle="tooltip" data-placement="bottom" title="Start typing names of users or tags here to search. If your tag does not exist, you'll be offered to add a new one.">
        <%= text_field_tag :search, '', placeholder: "Search", class: "form-control typeahead" %>

        <div style="width: 0; height: 0; overflow: hidden;">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%= render 'layouts/navigation_links' %>
    </nav>
  <% end %>
</div>
