<li><%= link_to "Home", root_path, id:"feed-onboard-home" %></li>

<li>
	<a href="<%= notifications_path %>" class="notif-link feed-onboard-notif <%= 'accent' if current_user.unread_notifications %>">
		<span class="notif-icon glyphicon glyphicon-bell"></span>
		<span class="notif-count">
			<%= current_user.notifications.unread_count if current_user.unread_notifications %>
		</span>
	</a>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %>
    <span class="caret"></span>
  </a>

  <ul id="non-transparent" class="dropdown-menu" role="menu">
    <li><%= link_to 'Profile' , current_user %></li>

    <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>

    <% unless current_user.first_time %>
      <li><%= link_to "Start tour", first_time_path('true'), method: 'POST' %></li>
    <% end %>

    <li><%= link_to "Invite", "/invite" %></li>

    <li><%= link_to "Logout", "/logout" %></li>
  </ul>
</li>
