<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <div class="navbar-brand">
        <%= link_to image_tag('helsinki53x50.png'), root_path %>
      </div>
      <%= link_to 'UHPeople', root_path, class: 'navbar-brand' %>

      <div class="navbar-form navbar-left" role="search">
        <%= form_tag search_index_path, method: "get" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control typeahead" %>
          
          <div style="width: 0; height: 0; overflow: hidden;">
            <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    
    <% unless current_user.nil? %>
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
    <% end %>
  </div>
</nav>