<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UHPeople">
    <title>UHPeople</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
      <%= 'mdl-layout--fixed-tabs' if current_page?(feed_index_path) %>">
      <%= render 'layouts/hashtag_bg' if @hashtag %>
      <% unless current_user.nil? %>
        <header class="mdl-layout__header <%= @hashtag ? 'mdl-layout__header--transparent' : 'mdl-color--black' %>">
          <%= render 'layouts/navigation' %>
        </header>
      <% end %>
      <main role="main" class="mdl-layout__content">
        <div class="overlay" style="
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;"></div>
         <%= render 'layouts/messages' %>
         <%= yield %>
      </main>
      <% if not current_user.nil? and current_user.first_time %>
        <%= render 'onboards/feed_onboard' if current_page? feed_index_path %>
        <%= render 'onboards/new_user_onboard' if current_page? edit_user_path(current_user) %>
      <% end %>
      <script>
        var first_time = <%= !current_user.nil? ? current_user.first_time : false %>;
      </script>
      <%= javascript_include_tag 'application' %>
    </div>
  </body>
  <% if ENV['RAILS_ENV'] == "production" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-66677321-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</html>
