<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="UHPeople">
    <title>UHPeople</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <script>
      var first_time = <%= !current_user.nil? ? current_user.first_time : false %>;
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <% 
      #onboarding #help1
      #new user onboard:
      #feed onboard: header, tabs, hashtaglist
      #hashtag onboard:
    %>

    <% if not current_user.nil? and current_user.first_time %>
      <%= render 'onboards/feed_onboard' if current_page? feed_index_path %>
      <%= render 'onboards/new_user_onboard' if current_page? edit_user_path(current_user) %>
    <% end %>
   
    <%= javascript_include_tag 'application' %>
  </body>
</html>
