<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UHPeople">
    <title>UHPeople</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <script>
      var first_time = <%= !current_user.nil? ? current_user.first_time : false %>;
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <% 
      #onboarding #help1
      #new user onboard:
      #feed onboard: header, tabs, hashtaglist
      #hashtag onboard:
    %>

    <% if not current_user.nil? and current_user.first_time %>
      <%= render 'onboards/feed_onboard' if current_page? feed_index_path %>
      <%= render 'onboards/new_user_onboard' if current_page? edit_user_path(current_user) %>
    <% end %>
   
    <%= javascript_include_tag 'application' %>
  </body>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-66677321-1', 'auto');
      ga('send', 'pageview');
  </script>
</html>
